*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.header{
    flex-wrap:wrap;
  justify-content: space-between;
    display: flex;
    color: rgb(0, 0, 121);
    height: 50px;
    width: 100%;
    background-color: gray;
}
.header h1{
    margin: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*.title img{
    width: 30px;
    height: 30px;
    display: none;
}*/
.header img{
    width: 50px;
    height: 50px;
    display: none;
}
/*.menu img{
    width: 30px;
    height: 30px;
    display: none;
}*/
.menu ul{
    list-style-type: none;
    display: flex;
}
.menu li{
    text-decoration: none;
}
.menu a{
    text-decoration: none;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.btn{
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(0, 0, 121);
    color: white;
}
.btn:hover{
    transform: scale(1.1);
    box-shadow: 5px 3px 3px 1px #1e1e1f;
    transition: all 1s;
}
.form2{
    margin: auto;
    width: 80%;
    padding: 5px;
    
}
.form-container {
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 255, 0, 0.0), rgb(0, 119, 255));
}
.input-cnt{
    display: flex;
    margin-bottom: 15px;
}

.input-cnt:last-child{
    margin-bottom: 0px;
}

.input-cnt > i{
    min-width: 40px;
    padding: 10px;
    text-align: center;
    background-color: lightgrey;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #0076ff;
}
.input-cnt:hover > i{
    background-color: #0076ff;
    color: white;
}

.input-cnt > input[type="text"], .input-cnt > textarea{
    outline: none;
    border: none;
    padding: 10px;
    border: 1px solid lightgrey;
    border-top-right-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
    width: 100%;
}

.textarea-icon{
    padding: 60px 10px !important;
}

.input-cnt > input[type="submit"] {
    border: none;
    border-radius: 20px;
    outline: none;
    width: 75%;
    margin: 0px auto;
    font-size: 105%;
    padding: 8px;
    color: #0076ff;
    background-color: white;
    transition-duration: .5s;
}

.input-cnt > input[type="submi"]:hover {
    color: white;
    background: #0076ff;
}

@media only screen and (max-width:600px) {
    body{
    overflow-x: hidden;
    position: relative;
    }
    
    
    .header{
        height: 80px;

    }
    .header h1{
        font-size: 30px;
        margin-top: 20px;
    }
    .header img{
        position: absolute;
        top: 80px;
        width: 30px;
        height: 30px;
        display: block;
    }
    .header .menu img{
        position: absolute;
        top: 2px;
        left: 165px;
        width: 30px;
        height: 30px;
        display: block;
    }
    .menu {
        position: absolute;
        width: 200px;
        top: 65px;
        background-color:grey;
        color: white;
        height: 90vh;
        display: block;
        left: -200px;
        transition: all 1s;
    }
    .menu ul{
        display: block;
        
    }
    .menu li{
        padding: 10px;
    }
    .menu a{
        color: white;
    }
    .menu {
        position: absolute;
        width: 200px;
        top: 80px;
        background-color:grey;
        color: white;
        height: 90vh;
        display: block;
        right: 0;
    }
    .menu ul{
        display: block;
    }
    .menu li{
        padding: 10px;
    }
    .menu a{
        color: white;
    }
    .form2{
        width: 90%;
    }
    
    .input-cnt > input[type="text"], .input-cnt > textarea{
     font-size: 12px;
    }
    .form-container{
        margin-top: 50px;
    }
    
}