*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

.main{    
    background-color:rgb(201, 200, 200);
    /*background-image: url(images/colosseum_rome.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    filter: brightness(0.7);*/
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
/*.login{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    color: rgb(247, 246, 246);
}*/
.header{
    flex-wrap:wrap;
  justify-content: space-between;
    display: flex;
    color: rgb(0, 0, 121);
    height: 50px;
    width: 100%;
    background-color: gray;
}
.header h1{
    margin: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*.title img{
    width: 30px;
    height: 30px;
    display: none;
}*/
.header img{
    width: 50px;
    height: 50px;
    display: none;
}
/*.menu img{
    width: 30px;
    height: 30px;
    display: none;
}*/
.menu{
    display: flex;
}
.menu ul{
    list-style-type: none;
    display: flex;
}
.menu li{
    text-decoration: none;
}
.menu a{
    text-decoration: none;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.btn{
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(0, 0, 121);
    color: white;
}
.btn:hover{
    transform: scale(1.1);
    box-shadow: 5px 3px 3px 1px #1e1e1f;
    transition: all 1s;
}
.container{
    display: flex;
}


.image img{
    width: 400px;
    height: 500px;
    margin: 10px;
    border-radius: 10px;
}
.details{
    margin: auto;
    padding: 10px;
}
.details p{
    display: block;
}
.details span{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.details span .head{
    color:rgb(0, 0, 121) ;
}
.myslide{
    display: none;
}

.slideshow img{
    width: 100%;
    height: 100%;
}

/*.container{
    position: absolute;
    top: 100px;
    width: 100%;
    height: 90vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.form h4{
    margin-top: 10px;
    margin-bottom: 0;
}

.form .submit{
    border-radius: 5px;
    background-color: grey;
    width: 100px;
    font-weight: bold;
    margin-left: 80px;
}
.form .submit:hover{
    border-radius: 3px;
    background-color: gray;
}

.container h5{
    margin: 10px;
    margin-left: 100px;
}
.btn{
    margin-top: 60px;
    font-size: 1.1rem;
    outline: none;
    border: none;
    padding: 5px;
    border: 1px solid lightgrey;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 80%;
}

.btn img{
    width: 30px;
    height:30px;
    margin-left: 5px;
}
.btn:hover{
    border-radius: 15px;
    transform: scale(1.1);
    box-shadow: 10px 5px 5px 3px #1e1e1f;
    transition:all 0.3s;
}
.login{
    text-align: center;
}
.login a{
    text-decoration: none;
    color: red;
    font-size: 20px;
}


/*

.form{
    margin: auto;
    width: 50%;
    padding: 15px;
    /*background-color: rgba(1, 1, 54, 0.863);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}
.formc {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 90vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    /*margin: auto;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 255, 0, 0.0), rgb(0, 119, 255));
}
.input-cnt{
    display: flex;
    margin-bottom: 15px;
}

.input-cnt:last-child{
    margin-bottom: 0px;
}

.input-cnt > i{
    min-width: 40px;
    padding: 10px;
    text-align: center;
    background-color: lightgrey;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #0076ff;
}
.input-cnt:hover > i{
    background-color: #0076ff;
    color: white;
}

.input-cnt > input[type="text"], input[type="password"], .input-cnt > textarea{
    outline: none;
    border: none;
    padding: 10px;
    border: 1px solid lightgrey;
    border-top-right-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
    width: 100%;
}

.textarea-icon{
    padding: 60px 10px !important;
}

.input-cnt > input[type="submit"] {
    border: none;
    border-radius: 20px;
    outline: none;
    width: 75%;
    margin: 0px auto;
    font-size: 105%;
    padding: 8px;
    color: #0076ff;
    background-color: white;
    transition-duration: .5s;
}

.input-cnt > input[type="submit"]:hover {
    color: white;
    background: #0076ff;
}








.lightbox{
    /*opacity: 0;
    z-index: -1;
    top: -100%;
    transition-duration: 1s;
    display: table;
    position: fixed;
    
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.lightbox:target{
    top: 0;
    /*opacity: 1;
    z-index: 1;
}
.lightbox-content{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.close{
    position: absolute;
    top: 10px;
    right: 10px;
}
.close img{
    width: 20px;
    height: 20px;
    background-color: white;
}

.lightbox-content {
    width: 300px;
    height: auto;
}
*/



@media only screen and (max-width:900px) {
    body{
        overflow-x: hidden;
        position: relative;
    }
    .header{
        height: 65px;
        top: 0;
    }
    .header h1{
        font-size: 30px;
    }
    .header img{
        position: absolute;
        top: 65px;
        width: 30px;
        height: 30px;
        display: block;
    }
    .header .menu img{
        position: absolute;
        top: 2px;
        left: 165px;
        width: 30px;
        height: 30px;
        display: block;
    }
    .menu {
        position: absolute;
        width: 200px;
        top: 65px;
        background-color:grey;
        color: white;
        height: 90vh;
        display: block;
        left: -200px;
        transition: all 1s;
    }
    .menu ul{
        display: block;
        
    }
    .menu li{
        padding: 10px;
    }
    .menu a{
        color: white;
    }
    
    .container{
    
        top: 40px;
    }
    .image img{
        width: 150px;
        height: 250px;
        margin-top: 60px;
        border-radius: 5px;
    }
    .details{
        padding: 2px;
        margin-top: 50px;
        margin-left: 5px;
    }
    .details p{
        word-spacing: 5px;
        font-size: 20px;
    }
    .details span{
        font-size: 30px;
       
    }
  
}
