<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sites</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/SITES.css') }}">
</head>
<body>
    <!--header-->
    <div class="header">
        <h1>TRAVELLERS TOURS</h1>  <img src="{{url_for('static', filename='images/menu.png')}}" onclick="opensidebar()">
        <div class="menu" id="menu-items">
            <img src="{{url_for('static', filename='images/cancel.png')}}" onclick="closesidebar()">
             <ul id="list-items">
                     <li><a href="/">HOME</a></li>
                         <li><a href="/SITES">SITES</a></li>
                         <li><a href="/contact">CONTACTS</a></li>
                         <li><a href="/general">GENERAL</a></li>
                         <li><a href="/signup"><button class="btn">SIGN UP</button></a></li>
             </ul>
        </div>
    </div>
     
    <!--main-->
    <div class="main">
        <div class="TTimg">
            <img src="{{url_for('static',filename='images2/lion.jpg')}}" alt="">
            </div>
        <div class="TT"> 
            <p>Travellers tours provide you with insight concerning all the world's tourist attraction sites.From weather to the precise location,we got you covered.
                We provide all the information you need as you travel including nearby restorants,all the roads and weather in that area in real-time.
            </p>
        </div>

        <div class="slideshow">
                    <div class="slideimage">
                    <img class="myslide" src="{{url_for('static',filename='images2/north pole.jpg')}}">
                    <p>From the North pole</p>
                    </div>
                    <div class="slideimage">
                    <img class="myslide" src="{{url_for('static',filename='images2/sahara.jpg')}}">
                    <p>To the deserts</p>
                    </div>
                    <div class="slideimage">
                    <img class="myslide" src="{{url_for('static',filename='images2/ocean.jpg')}}">
                    </div>
                    <div class="slideimage">
                    <img class="myslide" src="{{url_for('static',filename='images2/zebras2.jpg')}}">
                    </div>
                    <div class="slideimage">
                    <img class="myslide" src="{{url_for('static',filename='images2/mount A.jpg')}}">
                    </div>
                </div>

        <div class="search">
            <input type="text" id="searchBox" placeholder="Search by name..." onkeyup="filterAttractions()">
        </div>
        <div class="contact">
            <a href="/contact"> <img src="{{url_for('static', filename='images/chat.png')}}"></a>
        </div>
        
        <div class="images">
                <div class="img1" data-name="Burj Khalifa">
                    <a href="#khalif"><img src="{{url_for('static', filename='images/burj khalifa-dubai.jpg')}}"> </a>
                    <div class="lightbox" id="khalif">
                        <a href="#" class="close">CLOSE</a>
                        <div class="lightbox-content">
                            <img src="{{url_for('static', filename='images/burj khalifa-dubai.jpg')}}">
                        </div>
                    </div>

                    <div class="details" id="dets">
                        <h4>Burj Khalifa</h4><p class="p11">The Burj Khalif is among the tallest structures in the world.It is 828 meters(2,716 ft).<button class="ton" id="btn0" onclick="opentab('1')">Read more.....</button></p><p class="yes" id="1">Burj Khalif is located in .........The 200 plus storey Burj Khalif has 160 habitable levels.
                            The tower was integrated on January 4,2010,to coincide with the fourth anniversary of the Accession Day of His Highness Sheikh Mohamed Bin Rashid Al Maktoum as the Ruler of Dubai. <br><br>
                            For more information visit
                            <a href="https://en.wikipedia.org/wiki/Burj_Khalifa">Wikipedia</a>
                            <a href="https://maps.app.goo.gl/uGX55piGUuR89YFf8">location</a>
                            </p>
                    </div>
                </div>

                <div class="img1" data-name="Chichen Itza">
                    <a href="#chichen"><img src="{{url_for('static', filename='images/Chichen itza.jpg')}}"> </a>
                    <div class="lightbox" id="chichen">
                        <a href="#" class="close">CLOSE</a>
                        <div class="lightbox-content">
                            <img src="{{url_for('static', filename='images/Chichen itza.jpg')}}">
                        </div>
                    </div>
                    <div class="details" id="dets">
                        <h4>Chichen Itza</h4><p class="p21">Chichen Itza is a complex of Mayan ruins centrally located on the nothern half of Mexico's Yucatan Peninsula.<button class="ton" id="btn2" onclick="opentab('2')">Read more.....</button></p><p class="yes" id="2">In ancient,pre-colombian times,Chichen Itza was a vibrant city with a deverse population of 
                            Mayan people extending well into the tens of thousands. <br><br>
                            For more information visit 
                        <a href="https://en.wikipedia.org/wiki/Chichen_Itza">wikipedia</a> ,
                        <a href="https://maps.app.goo.gl/XqhDbGTR8Q1uLzcJ9">location</a>
                        </p>
                    </div>
                </div>
                
                <div class="img1" data-name="Colosseum">
                    <a href="#colosseum"><img src="{{url_for('static', filename='images/colosseum_rome.jpg')}}"> </a>
                    <div class="lightbox" id="colosseum">
                        <a href="#" class="close">CLOSE</a>
                        <div class="lightbox-content">
                            
                            <img src="{{url_for('static', filename='images/colosseum_rome.jpg')}}">
                        </div>
                    </div>
                    <div class="details" id="dets">
                            <h4>Colosseum</h4><p class="p31">The Colosseum is an amphitheatre built in Rome under the Flavian Emporors.<button class="ton" id="btn3" onclick="opentab('3')">Read more.....</button></p><p class="yes" id="3">It is also called the Flavian Amphitheatre.
                                It is an elliptical structure made of stone,concrete and tuff and it stands four stories tall at its highest point. <br><br>
                        For more information visit
                                <a href="https://en.wikipedia.org/wiki/Colosseum">wikipedia</a>,
                                <a href="https://maps.app.goo.gl/ysFNRfcHE148emwT8">location</a>
                            </p>
                    </div>
                </div>
                
                <div class="img1" data-name="Eiffle Tower">
                    <a href="#eiffle"><img src="{{url_for('static', filename='images/eiffle tower-france.jpg')}}"> </a>
                    <div class="lightbox" id="eiffle">
                        <a href="#" class="close">CLOSE</a>
                        <div class="lightbox-content">
                            <img src="{{url_for('static', filename='images/eiffle tower-france.jpg')}}">
                        </div>
                    </div>
                    <div class="details" id="dets">
                        <h4>Eiffel Tower</h4><p class="p41">The Eiffel Tower in Paris,France is among the most famous landmarks in the world.<button class="ton" id="btn4" onclick="opentab('4')">Read more....</button></p><p class="yes" id="4">The tower stands 300meters(984 feet) high.It 
                            rests on a base that is 5meters(17 feet) tall and the atv antenna atop the tower gives it a total elevation of 330 meters(1083 feet). <br><br>
                        For more information visit
                            <a href="https://en.wikipedia.org/wiki/Eiffel_Tower">wikipedia</a>
                            <a href="https://maps.app.goo.gl/dnGYh4DR6f5AUCz59">location</a>
                        </p>
                    </div>
                </div>
                
                <div class="img1" data-name="Gardens by the Bay">
                    <a href="#garden"><img src="{{url_for('static', filename='images/garden bt the bay-singapore.jpg')}}"> </a>
                    <div class="lightbox" id="garden">
                        <a href="#" class="close">CLOSE</a>
                        <div class="lightbox-content">
                            <img src="{{url_for('static', filename='images/garden bt the bay-singapore.jpg')}}">
                        </div>
                    </div>
                    <div class="details" id="dets">
                            <h4>Garden by the Bay</h4><p class="p51">Garden by the Bay is a man-made incredible natural park premises in the bay area of Singerpore.<button class="ton" id="btn5" onclick="opentab('5')">Read more....</button></p><p class="yes" id="5">This sprawling area is spresd on 101 hectares in central Singapore.
                                This mechanical garden is an icon of Singapore tourism. <br><br>
                            For more information visit
                            <a href="https://en.wikipedia.org/wiki/Gardens_by_the_Bay">wikipedia</a>,
                            <a href="https://maps.app.goo.gl/1S1QYL2mAKvRmAF7A">location</a>
                            </p>
                    </div>
                </div>
                
                <div class="img1" data-name="Golden Gate Bridge">
                    <a href="#bridge"> <img src="{{url_for('static', filename='images/golden gate bridge-san fransisco.jpg')}}"></a>
                    <div class="lightbox" id="bridge">
                        <a href="#" class="close">CLOSE</a>
                        <div class="lightbox-content">
                            <img src="{{url_for('static', filename='images/golden gate bridge-san fransisco.jpg')}}">
                        </div>
                    </div>
                    <div class="details" id="dets">
                        <h4>Golden Gate Bridge</h4><p class="p61">The Golden Gate Bridge  is located in New York City.The distance between supports (4200 ft,1280 m).<button class="ton" id="btn6" onclick="opentab('6')">Read more.....</button></p><p class="yes" id="6">The Golden Gate Bridge is suspended from two cables hung from towers 227meters (746 feet) high;
                            at midpoint the roadway is 81 meters(265 feet) above mean high water. <br><br>
                            For more information visit
                            <a href="https://en.wikipedia.org/wiki/Golden_Gate_Bridge">wikipedia</a>,
                            <a href="https://maps.app.goo.gl/nZEb4p2yEs2wxW5F7">location</a>
                            </p>
                    </div>
                </div>
            
            
                <div class="img1" data-name="Great Wall of China">
                    <a href="#wall"><img src="{{url_for('static', filename='images/great wall-beijing.jpg')}}"> </a>
                    <div class="lightbox" id="wall">
                        <a href="#" class="close">CLOSE</a>
                        <div class="lightbox-content">
                            <img src="{{url_for('static', filename='images/great wall-beijing.jpg')}}">
                        </div>
                    </div>
                    <div class="details" id="dets">
                        <h4>The Great Wall of China</h4><p class="p71">The Great Wall of China the longest structure humans have ever built.<button class="ton" id="btn7" onclick="opentab('7')">Read more.....</button></p><p class="yes" id="7">It is the only structure seen from the moon.It is about 21,196 kilometers long ,9.1 meters(30 feet) wide ns 15 meters high.
                            It was builtby chinese ruler Shi-Hwang-Ti in the 3rd century BCE as a prevention to the invasion of Tartars. <br><br>
                        For more information visit
                        <a href="https://en.wikipedia.org/wiki/Great_Wall_of_China">wikipedia</a>,
                        <a href="https://maps.app.goo.gl/DwmVv2RTbLZ2BYTb8">location</a>
                        </p>
                    </div>
                </div>
                
                <div class="img1" data-name="Hollywood Sign">
                    <a href="#hollywood"><img src="{{url_for('static', filename='images/hollywood sign-los Angeles.jpg')}}"> </a>
                    <div class="lightbox" id="hollywood">
                        <a href="#" class="close">CLOSE</a>
                        <div class="lightbox-content">
                            <img src="{{url_for('static', filename='images/hollywood sign-los Angeles.jpg')}}"> 
                        </div>
                    </div>
                    <div class="details" id="dets">
                        <h4>Hollywood Sign</h4><p class="p81">Built by Los Angeles Times publisher Harry Chandler as an epic $21,000 billboard.<button class="ton" id="btn8" onclick="opentab('8')">Read more.....</button></p><p class="yes" id="8">The original sign was erected in 1923 and originally read "HOLLYWOODLAND" 
                            for his upscale Hollywoodland real estate development in the hills above the Hollywood district of Los Angeles. <br><br>
                        For more information visit
                            <a href="https://en.wikipedia.org/wiki/Hollywood_Sign">wikipedia</a>,
                            <a href="https://maps.app.goo.gl/pebtPDnPK4oWjwxe7">location</a>
                    </p>
                    </div>
                </div>
                
                <div class="img1" data-name="Mt. Fuji">
                    <a href="#fuji"><img src="{{url_for('static', filename='images/mt.fuji-fujinomiya.jpg')}}">  </a>
                    <div class="lightbox" id="fuji">
                        <a href="#" class="close">CLOSE</a>
                        <div class="lightbox-content">
                            <img src="{{url_for('static', filename='images/mt.fuji-fujinomiya.jpg')}}">
                        </div>
                    </div>
                    <div class="details" id="dets">
                        <h4>Mount Fuji</h4><p class="p91">Mt Fuji is the tallest peak in Japan standing at 3,776 meters.<button class="ton" id="btn9" onclick="opentab('9')">Read more.....</button></p><p class="yes" id="9">It was formed as a result of volcanic activity.Today,Mt Fuji and surrounding areas are a 
                            popular recreational destination for hiking,camping and relaxation. <br><br>
                        For more information
                        <a href="https://en.wikipedia.org/wiki/Mount_Fuji">wikipedia</a>,
                        <a href="https://maps.app.goo.gl/oL7E3NgKeyiddFTj6">location</a>
                    </p>
                    </div>
                </div>
            
                <div class="img1" data-name="Pyramid of Giza">
                    <a href="#pyramid"><img src="{{url_for('static', filename='images/pyramid of giza-egypt.jpg')}}"> </a>
                    <div class="lightbox" id="pyramid">
                        <a href="#" class="close">CLOSE</a>
                        <div class="lightbox-content">
                            <img src="{{url_for('static', filename='images/pyramid of giza-egypt.jpg')}}">
                        </div>
                    </div>
                    <div class="details" id="dets">
                        <h4>Pyramid of Giza</h4><p class="p101">The Pyramid of Giza was the Tomb of Pharaoh Khufu,and still contains his granite sarcophagus.<button class="ton" id="btn10" onclick="opentab('10')">Read more.....</button></p><p class="yes" id="10">It is located in Egypt,Giza plateau.It had other tombs of Egyptian elites,four main purposes;It housed the body of the deceased and kept it safe.
                            It demonstrated the status of the deceased and his family. <br><br>
                        For more information visit
                        <a href="https://en.wikipedia.org/wiki/Great_Pyramid_of_Giza#:~:text=The%20Great%20Pyramid%20of%20Giza%20was%20the%20tomb%20of%20pharaoh,the%20deceased%20and%20his%20family.">wikipedia</a>
                        <a href="https://maps.app.goo.gl/YZ1fUDDit3KGvS9b7">location</a>
                        
                        </p>
                    </div>
                </div>
                
                <div class="img1" data-name="Statue of Liberty">
                    <a href="#liberty"><img src="{{url_for('static', filename='images/statue of liberty-new york.jpg')}}"> </a>
                    <div class="lightbox" id="liberty">
                        <a href="#" class="close">CLOSE</a>
                        <div class="lightbox-content">
                            <img src="{{url_for('static', filename='images/statue of liberty-new york.jpg')}}">
                        </div>
                    </div>
                    <div class="details" id="dets">
                        <h4>Statue of Liberty</h4><p class="p112">The Statue of Liberty is a 305 feet(93 meters) statue located on Liberty Island in Upper New York Bay,off the coast of New york City<button class="ton" id="btn11" onclick="opentab('11')">Read more.....</button></p><p class="yes" id="11">The statue is a personification of liberty in the form of a woman.
                            She holds a torch in her raised right hand and clutch a tablet in her left. <br> <br>
                        For more information visit
                        <a href="https://en.wikipedia.org/wiki/Statue_of_Liberty">wikipedia</a>
                        <a href="https://maps.app.goo.gl/bebN8JBxbndLmsKCA">location</a>
                    </p>
                    </div>
                </div>
                
                <div class="img1" data-name="Sydney Opera House">
                    <a href="#opera"><img src="{{url_for('static', filename='images/sydney opera house-sydney.jpg')}}"> </a>
                    <div class="lightbox" id="opera">
                        <a href="#" class="close">CLOSE</a>
                        <div class="lightbox-content">
                            <img src="{{url_for('static', filename='images/sydney opera house-sydney.jpg')}}">
                        </div>
                    </div>
                    <div class="details" id="dets">
                        <h4>Sydney Opera House</h4><p class="p121">The Sydney Opera House is multi-venue performing arts center in sydney,New South Wales,Australia.<button class="ton" id="btn12" onclick="opentab('12')">Read more.....</button></p><p class="yes" id="12">The 2,679-seat concert hall,is host to symphony concerts,choir performances and popular music shows.
                            Its significance is based on its unparalleled design and construction. <br> <br>
                        For more information visit
                        <a href="https://en.wikipedia.org/wiki/Sydney_Opera_House">wikipedia</a>
                        <a href="https://maps.app.goo.gl/rSbHU9aUe7m4maNr8">location</a>
                    </p>
                    </div>
                </div>
                
                <div class="img1" data-name="The blue mosque">
                    <a href="#blue"><img src="{{url_for('static', filename='images/the blue mosque-istanbul.jpg')}}"> </a>
                    <div class="lightbox" id="blue">
                        <a href="#" class="close">CLOSE</a>
                        <div class="lightbox-content">
                            <img src="{{url_for('static', filename='images/the blue mosque-istanbul.jpg')}}">
                        </div>
                    </div>
                    <div class="details" id="dets">
                        <h4>The Blue Mosque</h4><p class="p131">The blue Mosque officially the Sultan Ahmed Mosque is an Ottoman-era historical imperial mosque located in Istanbul,Turkey.<button class="ton" id="btn13" onclick="opentab('13')">Read more.....</button></p><p class="yes" id="13">With its iconic six minarets,it showcases classic Ottoman architecture.
                            Inside, 20,000 Iznik tiles line the high ceiling,featuring intricate floral pattern.the interiot is lit by 260 windows. <br><br>
                    For more information visit
                        <a href="https://en.wikipedia.org/wiki/Blue_Mosque,_Istanbul">wikipedia</a>
                        <a href="https://maps.app.goo.gl/v7ws8LKnha2k4eMq5">location</a>
                    </p>
                    </div>
                </div>
                               
                <div class="img1" data-name="Tower of pisa">
                        <a href="#pisa"><img src="{{url_for('static', filename='images/tower of pisa-pisa.jpg')}}"> </a>
                        <div class="lightbox" id="pisa">
                            <a href="#" class="close">CLOSE</a>
                            <div class="lightbox-content">
                                <img src="{{url_for('static', filename='images/tower of pisa-pisa.jpg')}}">
                            </div>
                        </div>
                        <div class="details" id="dets">
                            <h4>Tower of Pisa</h4><p class="p141">The leaning Tower of Pisa is a famous freestanding bell tower in the city of Pisa,Italy<button class="ton" id="btn14" onclick="opentab('14')">Read more.....</button></p><p class="yes" id="14">The tower stands at an impressive height of 55.86 meters(183.27 feet). <br><br>
                    For more information visit
                        <a href="https://en.wikipedia.org/wiki/Leaning_Tower_of_Pisa">wikipedia</a>
                        <a href="https://maps.app.goo.gl/AXxC7WTKQUeowaUF8">location</a>
                    </p>
                    </div>
                </div>

                <div class="img1" data-name="Mt. Kilimanjaro">
                    <a href="#kilimanjaro"><img src="{{url_for('static', filename='images/mt.kilimanjaro.jpg')}}"> </a>
                        <div class="lightbox" id="kilimanjaro">
                            <a href="#" class="close">CLOSE</a>
                            <div class="lightbox-content">
                                <img src="{{url_for('static', filename='images/mt.kilimanjaro.jpg')}}"> 
                            </div>
                        </div>
                        <div class="details" id="dets">
                            <h4>Mount Kilimanjaro</h4><p class="p151">Mount Kilimanjaro is a domant Volcanic mountain in Tanzania.<button class="ton" id="btn15" onclick="opentab('15')">Read more.....</button></p><p class="yes" id="15">It is the highest mountain in Africa. <br><br>
                                For more information visit
                        <a href="https://en.wikipedia.org/wiki/Mount_Kilimanjaro">wikipedia</a>
                        <a href="https://maps.app.goo.gl/s2fJh2LhS5f29Ys19">location</a>
                        </p>
                    </div>
                    </div>
                       
                </div>



                
            
        </div>
    </div>
    <footer>
    <div class="footer-body">
        <div class="brand">Travellers Tours</div>
        <div class="links">
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
        </ul>
        </div>
        <div class="follow">
            <p>Follow us on:</p>
            <ul>
                <li> <img src="{{url_for('static', filename='images/facebook.png')}}"> Facebook</li>
                <li> <img src="{{url_for('static', filename='images/instagram.png')}}">  Instagram</li>
                <li> <img src="{{url_for('static', filename='images/twitter.png')}}">  Twitter</li>
                
            </ul>
            </div>
    </div>
    </footer>
    
    <script type="text/javascript">
        var myIndex = 0;
                carousel();

                function carousel() {
                    var i;
                    var x = document.getElementsByClassName("slideimage");
                    for (i = 0; i< x.length; i++){
                        x[i].style.display = "none";
                    }
                    myIndex++;
                    if (myIndex>x.length) {myIndex = 1}
                    x[myIndex-1].style.display = "block";
                    setTimeout(carousel, 5000);
                }
        
        function opentab(contentId) {
            var erase = document.getElementsByClassName("ton")
            var contents = document.getElementsByClassName("yes");
            for (var i = 0;i < contents.length;i++){
                if(contents[i].id === contentId) {
                    if(contents[i].style.display ==="block"){
                        contents[i].style.display = "none";
                        contents[i].style.height = "0px";
                    }
                    else{
                        contents[i].style.display = "block";
                        contents[i].style.height = "auto";
                        
                        var autoHeight = contents[i].clientHeight + "px";
                        contents[i].style.height = "0px";
                        setTimeout(function(yes){
                            yes.style.height = autoHeight;
                        }, 0 , contents[i]);
                    }
                }else {
                    contents[i].style.display = "none";
                    contents[i].style.height = "0px";
                }
            }
            
            for (var i = 0;i < erase.length;i++){
                
                    if(contents[i].style.display ==="block"){
                        erase[i].style.display = "none";
                    }
                    else{
                        erase[i].style.display = "inline"
                    }
                

                }
            }


            function filterAttractions() {
            let searchInput = document.getElementById("searchBox").value.toLowerCase();
            let attractions = document.querySelectorAll(".img1");

            attractions.forEach(attraction => {
                let name = attraction.getAttribute("data-name").toLowerCase();
                attraction.classList.toggle("yes", !name.includes(searchInput));
            });
        }
        

  /*menu sidebar*/
        function opensidebar(){
        const elem = document.getElementById("menu-items");
        
            elem.style.left="0";
        }
        function closesidebar(){
        const elem = document.getElementById("menu-items");
        
            elem.style.left="-200px";
        }
    </script>
</body>
</html>